page-segment {
	.toolbar-background {
		background-color: #ffbb00;
	}
	.toolbar-title {
		color: #330000;
		font-weight: 700;
		font-size: 1.9rem;
	}

	.back-button {
		display: block;
		background: #f4f4f4;
		color: #000;
		font-weight: 300;
	}

	.toolbar-content {
		.segment-button {
			color: #330000;
			border-color: #330000;
			background-color: #fff;

			&.segment-activated {
				background-color: #3B1109;
				color: #fff;
			}
		}
	}
	.label {
		h1, h2, h3 {
			margin-top: 0 !important;
			padding: 0;
		}
	}
	.item-button {
		position: absolute;
		top: 5px;
		right: 10px;
		padding: 0 1.1em !important;
		height: 40px !important;
		font-size: 1.8rem !important;
	}
}
