page-segment {
	.toolbar-background {
		background-color: #ffbb00;
	}
	.toolbar-title {
		color: #330000;
		font-weight: 700;
		font-size: 1.9rem;
	}

	.back-button {
		display: block;
		background: #f4f4f4;
		color: #000;
		font-weight: 300;
	}

	.toolbar-content {
		.segment-button {
			color: #330000;
			border-color: #330000;
			background-color: #fff;

			&.segment-activated {
				background-color: #3B1109;
			}
		}
	}
}
