<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      編集
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="set">
      <ion-segment-button value="menu">
        メニュー
      </ion-segment-button>
      <ion-segment-button value="category">
        カテゴリ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab bottom right >
    <button ion-fab id="add_item" (click)="open_new_modal(set)">＋</button>
  </ion-fab>
  <div [ngSwitch]="set">
    <ion-searchbar (ionInput)="get_items($event)"></ion-searchbar>
    <ion-list *ngSwitchCase="'menu'">
      <ion-item-sliding *ngFor="let menu of menus">
        <ion-item>
          <h2>{{ menu.name }}</h2>
          <ion-icon name="swap" class="swap-icon"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="open_modal(menu)" class="edit" color="default">
            <ion-icon name="hammer"></ion-icon>
            編集
          </button>
          <button ion-button color="danger" (click)="delete(menu)">
            <ion-icon name="trash"></ion-icon>
            削除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-searchbar (ionInput)="get_items($event)"></ion-searchbar>
    <ion-list *ngSwitchCase="'category'">
      <ion-item-sliding *ngFor="let cat of categories">
        <ion-item>
          <h2>{{ cat.name }}</h2>
          <ion-icon name="swap" class="swap-icon"></ion-icon>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="open_modal(cat)" class="edit" color="default">
            <ion-icon name="hammer"></ion-icon>
            編集
          </button>
          <button ion-button color="danger" (click)="delete(cat)">
            <ion-icon name="trash"></ion-icon>
            削除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
