<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      編集
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="set">
      <ion-segment-button value="menu">
        メニュー
      </ion-segment-button>
      <ion-segment-button value="category">
        カテゴリ
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="set">
    <ion-list *ngSwitchCase="'menu'">
      <h1>メニュー</h1>
      <ion-item *ngFor="let menu of menus">
        <h2>{{ menu.name }}</h2>
        <button ion-button (click)="open_modal(menu)" class="edit" color="light">編集</button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'category'">
      <h1>カテゴリ</h1>
      <ion-item *ngFor="let cat of categories">
        <h2>{{ cat.name }}</h2>
        <button ion-button (click)="open_modal(cat)" class="edit" color="light">編集</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>