page-segment {
	.toolbar-background {
		background-color: #ffbb00;
	}
	.toolbar-title {
		color: #330000;
		font-weight: 700;
		font-size: 1.9rem;
	}

	.back-button {
		display: block;
		background: #f4f4f4;
		color: #000;
		font-weight: 300;
	}
	.toolbar-content {
		.segment-button {
			color: #330000;
			border-color: #330000;
			background-color: #fff;

			&.segment-activated {
				background-color: #3B1109;
				color: #fff;
			}
		}
		.segment-md {
			.segment-button {
				opacity: 1;
			}
		}
	}
        .searchbar-ios {
            padding: 4px 8px 6px;
        }
	.list {
		h1 {
			color: #330000;
			text-align: center;
			padding-top: 0.5em;
		}
	}
	.label {
		h2 {
			margin-top: 0 !important;
			margin-left: 1.2rem;
			padding: 0;
			line-height: 3.2rem;
			font-size: 1.9rem;
		}
	}
	.swap-icon {
		position: absolute;
		top: calc(100% / 2 - 9px);
		right: 10px;
		padding: 0 1.1em !important;
	}
	.fab {
		background-color: #330000;
		color: #fff;
	}
}
