page-home {
	h1, h2, h3 {
		text-align: center;
		padding: 30px 0;
	}
	.toolbar-background {
		background-color: #ffbb00;
	}
	.title {
		padding: 0 80px 1px;
	}
	.toolbar-title {
		color: #330000;
		font-weight: 700;
		font-size: 1.9rem;
		text-align: center;
	}
	#edit {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 2.1em;
	}
	.show-menu {
		background-color: #ffbb00;
		color: #330000;
		border: 1px solid #330000;
		margin: 20px auto;
		width: 80%;
	}
	.show-menu.activated {
		background-color: #330000;
		color: #fff;
	}
}
