page-home {
	.toolbar-background {
		background-color: #ffbb00;
	}
	.toolbar-title {
		color: #330000;
		font-weight: 700;
		font-size: 1.9rem;
	}
	#edit {
		position: absolute;
		top: 0;
		right: 0;
		height: 2.2em;
	}
	.show-menu {
		background-color: #ffbb00;
		color: #330000;
		border: 1px solid #330000;
	}
}
