page-menu {
	ion-header {
		.toolbar-background {
			background-color: #ffbb00;
		}
		.toolbar-title {
			color: #330000;
			font-weight: 700;
			font-size: 1.9rem;
		}

		.back-button {
			background: #f4f4f4;
			color: #000;
			font-weight: 300;
		}
	}
}
